In [1]:
import pandas as pd
import numpy as np

## 1 Data description

In [23]:
cuisines = pd.read_csv('data/Cuisines.csv', header = None)
recipes = pd.read_csv('data/recipes.csv')

In [24]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4236 entries, 0 to 4235
Columns: 710 entries, 'acorn squash' to cuisine
dtypes: int64(710)
memory usage: 22.9 MB

In [40]:
recipes.describe()

,'acorn squash',adobo,'african birdseye chile pepper',ale,'aleppo pepper','alfalfa sprouts','alfredo sauce',allspice,almond,'almond butter',...,yeast,'yellow curry paste','yellow food coloring','yellow split pea','yellow squash',yogurt,zaatar,zest,zucchini,cuisine
count,4236.000000,4236.00000,4236.000000,4236.00000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,...,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.000000,4236.00000
mean,0.000708,0.00118,0.000944,0.00118,0.000236,0.000708,0.000944,0.013220,0.019594,0.000236,...,0.004721,0.000708,0.000236,0.000708,0.002361,0.035175,0.000472,0.003541,0.029037,5.50000
std,0.026606,0.03434,0.030718,0.03434,0.015365,0.026606,0.030718,0.114229,0.138617,0.015365,...,0.068558,0.026606,0.015365,0.026606,0.048536,0.184243,0.021726,0.059409,0.167930,3.45246
min,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.75000
50%,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.50000
75%,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.25000
max,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.00000

In [26]:
cuisines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     int64
 1   1       12 non-null     object
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

In [41]:
cuisines = cuisines.rename(columns = {1: 'cuisine_label'})
cuisines

     0 cuisine_label
0    1       Chinese
1    2       English
2    3        French
3    4        German
4    5         Greek
5    6        Indian
6    7       Italian
7    8      Japanese
8    9       Mexican
9   10      Moroccan
10  11       Spanish
11  12          Thai

## 2. Distributions of cuisines and ingredients

In [44]:
recipes_by_cuisine = recipes.groupby('cuisine').cuisine.agg('count').to_frame('recipes') \
                            .merge(cuisines['cuisine_label'], how = 'left', left_index = True, right_index = True)

recipes_by_cuisine

         recipes cuisine_label
cuisine
0            353       Chinese
1            353       English
2            353        French
3            353        German
4            353         Greek
5            353        Indian
6            353       Italian
7            353      Japanese
8            353       Mexican
9            353      Moroccan
10           353       Spanish
11           353          Thai

In [66]:
ingredients_usage = recipes.drop('cuisine', axis=1).sum(axis = 0).sort_values(ascending = False)

In [67]:
top_10 = ingredients_usage[0:9]
top_10

garlic         2340
onion          2157
'olive oil'    1390
salt           1382
chicken        1324
pepper         1147
tomato          953
water           894
ginger          855
dtype: int64